body
{
    height: auto;
    padding-bottom: 30px;
}

header
{
    position: static;
    background-color: dodgerblue;
    padding: 10px;
}


header > h3 
{
    color: white;
    font-size: 30px;
    text-align: center;
}

*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

nav
{
    display: flex;
    justify-content: center;
}
article
{
   display: flex; 
   justify-content: center;
   margin-top: 20px;
}

.form-choices
{
    display: flex; 
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    width: 600px;
   /* background-color: blanchedalmond; */ 
    padding: 10px;
}

.form-choices > input 
{
   font-size: large;
    height: 30px;
    width: 400px;
    text-align: center;
    background-color: yellow;
}

.form-choices > select
{
    width: 500px;
    height: 40px;
}


.content 
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    cursor: pointer;
}

.content > div
{
    height: auto;
    width: 200px;
    border-style: inset;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    
}

.content > div:hover 
{ 
    outline-style: groove;
   outline-color: aqua;
}

.content > div > img:hover
{
   size:300px;
}

.content > div > img 
{
    height: 200px;
    width: 100%;
    display: block;
    position: static;
}
.content > div > p 
{
    position: static;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.content  > div > span
{
    border-style: inset; 
    border-radius: 20px;
    text-align: center;
}

#search_text
{
   font-size: medium; 

}

#search_selector
{
    font-size: medium;
    width: 180px;
}

.form-result
{
    position: static;
}